html, body {
  margin: 0;
  padding: 0;
}
table {
  margin: 0 auto;
}
body {
  text-align: center;
}
.contents_flex {
  display: flex;
}
.side_nav_block {
  flex: 1;
}
.center_main_block {
  flex: 7;
}
.aside_block {
  flex: 1;
}
.navi_flex_block {
  display: flex;
}
.navi_flex_block td {
  white-space: nowrap;
}
.category_block {
  flex: 1;
}
.author_block {
  flex: 1;
}
.publisher_block {
  flex: 1;
}
